:root {
  --u-h: 100vh;
  --u-w: 100vw;
  --u-gr: 1.618;
  --u-app-gap: calc(var(--u-h) * 0.05);
  --u-content-h: calc(var(--u-h) * 0.95);
  --u-h-reserved-for-main: calc(var(--u-content-h) * 0.8);
  --u-h-reserved-for-header: calc(var(--u-content-h) * 0.075);
  --u-h-reserved-for-footer: calc(var(--u-content-h) * 0.075);
  --u-main-gap: calc(var(--u-h-reserved-for-main) * 0.05);
  --u-main-h: var(--u-h-reserved-for-main);
  --u-header-gap: calc(var(--u-header-h) * 0.05);
  --u-header-h: var(--u-h-reserved-for-header);
  --u-footer-row-gap: calc(var(--u-h-reserved-for-footer) * 0.05);
  --u-footer-h: var(--u-h-reserved-for-footer);
  --u-content-w: calc(var(--u-w) * 0.9);
  --u-header-w: calc(var(--u-w) * 0.7);
  --u-desktop-content-w: calc(var(--u-w) / var(--u-gr));
  --u-hf-col-gap: calc(var(--u-desktop-content-w) * 0.05);
  --section-gap: 160px;
  --u-border-radius: 12px;
  --app-bar-z: 1;
  --overlay-z: 2;

  --u-c-charcoal-gray: #171717;
  --u-c-obsidian: #0b1215;
  --u-c-snow: #fffafa;
  --u-c-light: #ededed;
  --u-c-alice-blue: #f0f8ff;
  --u-c-gainsboro: #f1eff2;
  --u-c-highlight-vs-light: #30475e;
  --u-c-highlight-vs-dark: #9ab5bc;
  --u-c-overlay-dark: rgba(0, 0, 0, 0.55);
  --u-c-awesome-darknight: #131a28;
  --u-c-darkgray: #333333;
  --u-c-green: #c2e15f;
}

[data-theme="light"] {
  --usr-clr-background: var(--u-c-snow);
  --usr-clr-background-soft: var(--u-c-alice-blue);
  --usr-clr-background-mute: var(--u-c-gainsboro);
  --usr-clr-nav-background: var(--u-c-snow);

  --usr-clr-text: var(--u-c-awesome-darknight);

  --usr-clr-border: var(--u-c-obsidian);
  --usr-clr-border-hover: var(--u-c-highlight-vs-light);

  --usr-clr-anchor: var(--u-c-darkgray);
  --usr-clr-hover: var(--u-c-green);
  --usr-clr-text-on-hover: var(--usr-clr-text);

  --usr-clr-boxshadow: var(--u-c-obsidian);
  --usr-clr-overlay: var(--u-c-overlay-dark);

  --usr-clr-init: #a00000;
}

[data-theme="dark"] {
  --usr-clr-background: var(--u-c-awesome-darknight);
  --usr-clr-background-soft: var(--u-c-charcoal-gray);
  --usr-clr-background-mute: var(--u-c-obsidian);

  --usr-clr-text: var(--u-c-snow);

  --usr-clr-border: var(--u-c-gainsboro);
  --usr-clr-border-hover: var(--u-c-highlight-vs-dark);

  --usr-clr-anchor: var(--u-c-gainsboro);
  --usr-clr-hover: var(--u-c-darkgray);
  --usr-clr-text-on-hover: var(--u-c-snow);

  --usr-clr-boxshadow: var(--u-c-darkgray);
  --usr-clr-overlay: var(--u-c-overlay-dark);

  --usr-clr-init: #f983ac;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  font-weight: normal;
  font-synthesis: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family:
    "Noto Sans",
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.618;
  text-size-adjust: 100%;
}

body {
  color: var(--usr-clr-text);
  background: var(--usr-clr-background);
  transition:
    color 0.5s,
    background-color 0.5s;
}
