@import "./base.css";

#app {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  min-height: var(--u-h);
  width: var(--u-w);
  --no-of-gaps: 2;
  gap: calc(var(--u-app-gap) / var(--no-of-gaps));
}

a {
  text-decoration: none;
  color: var(--usr-clr-anchor);
  transition: 0.4s;
  padding: 0.25rem 0.5rem 0.25rem;
}

a:hover {
  background-color: var(--usr-clr-hover);
  color: var(--usr-clr-text-on-hover);
  border-radius: calc(1rem / 1.618);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  margin: -1px;
  border: 0;
  position: absolute;
}

strong {
  font-weight: revert;
}

ul {
  list-style: none;
}

.highlight-color {
  color: var(--usr-clr-init);
}
